{#
/**
 * @file
 * Poll teaser on frontpage for quick vote
 *
 * Available variables:
 * - eck_entity: The full ECK entity with limited access to object properties
 *   and methods. Only "getter" methods (method names starting with "get",
 *   "has", or "is") and a few common methods such as "id" and "label" are
 *   available. Calling other methods (such as node.delete) will result in an
 *   exception.
 * - content: All ECK entity items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *
 * @see template_preprocess_eck_entity()
 *
 * @ingroup themeable
 */
#}



<div class="col-6 col-sm mb-3">
  <div class="poll-teaser-item js-poll-select" data-entity-id="{{ eck_entity.id() }}">
    <div class="poll-teaser-item-image">
      {{ content.field_candidate_image }}
    </div>
    <div class="poll-teaser-item-year year-splash">
      <span>{{ content.field_candidate_year[0] }}</span>
    </div>
    <div class="poll-teaser-item-title">
      <h3>{{ content.title[0] }}</h3>
    </div>
    <div class="poll-teaser-item-choice">
      <span class="poll-teaser-item-choice-select">{{ 'Select'|t }}</span>
      <span class="poll-teaser-item-choice-chosen">{{ 'Chosen'|t }}</span>
    </div>
  </div>
</div>
